html, body {
    height: 100%;
}

.body-login {
    align-items: center;
    background-image: url(/static/media/bg.7fc55901.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login {
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 330px;
}

.top-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
}

.top-login span {
    color: #0288FF;
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: bold;
}

.form-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.forgot-pass {
    align-self: flex-end;
    color: #1D2226;
    cursor: pointer;
    font-family: Raleway;
    font-size: 0.9em;
    margin: 10px 0;
}

.forgot-pass:hover {
    color: #0288FF;
}

.makeStyles-button-74 {
    border-radius: 20px !important;
    background-color: #0288FF !important;
    width: 200px;
}

.MuiButton-label {
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: bold;
}

.MuiInputBase-input {
    color: #0288FF !important;
    font-weight: bold !important;
}

.makeStyles-underline-7:after {
    border-color: #0288FF !important;
}
